/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

/*=============== BASE ===============*/

* {
    box-sizing: border-box;
    margin: 0;
}

html body {
    font-family: "Poppins", sans-serif;
    color: black;
    background-color: #e5e5e5;
}

/*=============== TOP NAVBAR ===============*/
.navbar {
    background-color: #fff;
}

nav .navbar-nav li a {
    color: #000 !important;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.vr-color {
    color: #00c9a8;
}

form .search-button {
    width: 400px;
    background-color: #e5e5e5;
    color: #9f9f9f;
    border-radius: 25px;
}

form .search-text {
    background-color: #e5e5e5;
    border-radius: 50px;
}

/*Messages*/
.messages-hr {
    background-color: #00C9A8;
}

form .search-message-button {

    background-color: #E5E5E5;
    color: #9F9F9F;
    border-radius: 20px;
}

.sender-title {
    font-weight: 500;
    font-size: 19px;

    color: #3A3A3A;
}

/*Notifications*/
.notification-hr {
    background-color: #00C9A8;
}

.notification-time {
    font-weight: 300;
    font-size: 15px;
    color: #9F9F9F;
}

/*User profile*/
.user-profile-dropdown {
    background-color: #00c9a8;
}

/*Log out Modal*/

.yes-button {
    width: 133px;
    height: 67px;
    background-color: #C4C4C4;
    border: none;
    border-radius: 50px;
}

.no-button {
    width: 133px;
    height: 67px;
    background-color: #00C9A8;
    border: none;
    border-radius: 50px;
}

/*=============== ALL ClASSMATES ===============*/

.section-card {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.section-heading {
    font-size: 2rem;
}

.title-hr {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: #00C9A8;
}


/*=============== MEDIA QUERIES  ===============*/

/*  media screen for tab ( portrait ) */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    form .search-button {
        width: 300px;
    }
}


/* --------------- media screen for tab (landscape) --------------------------- */

/*  media screen for mobile */

@media only screen and (max-width: 600px) {

    /*Top Navbar Search Form*/
    form .search-button {
        width: 300px;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {

    /* For landscape layouts only */
    /*Top Navbar Search Form*/
    form .search-button {
        width: 300px;
    }
}

/* --------------- media screen for tab (pro) --------------------------- */

@media only screen and (min-device-width: 1026px) and (max-device-width: 1166px) {

    /*Top Navbar Search Form*/
    form .search-button {
        width: 300px;
    }
}

/* --------------- media screen for tab ( pro ) landscape ------------- */

@media only screen and (min-device-width: 1366px) and (min-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

    /*Top Navbar Search Form*/
    form .search-button {
        width: 300px;
    }
}

/*  media screen for max width 1004px*/

@media only screen and (max-width: 1004px) {
    form .search-button {
        width: 200px;
    }
}